## Objective :Predict whether an employee needs treatment using demographic and mental health data.

### Step 1: Import Dependencies

In [26]:
pip install --upgrade numpy scikit-learn catboost

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Collecting numpy
  Using cached numpy-2.2.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: catboost in /usr/local/lib/python3.11/dist-packages (1.2.7)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.11/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.11/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (3.2.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly->catboost) (9.0.0)

In [36]:
# Data manipulation libraries
import pandas as pd
import numpy as np

# Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Machine learning libraries and utilities
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, f1_score, classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# Advanced models (optional)
from xgboost import XGBClassifier
import lightgbm as lgb
from catboost import CatBoostClassifier, Pool
from sklearn.neural_network import MLPClassifier

# For handling imbalanced data (optional)
from imblearn.over_sampling import SMOTE

# Miscellaneous utilities
import warnings
warnings.filterwarnings('ignore')
import joblib  # for model persistence

In [37]:
# Mount the googl collb
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
# Change the Directory
import os
os.chdir('/content/drive/MyDrive/My Practice/Hackehon')

### Step 2: Load Dataset

In [39]:
sheet_test_url = "https://docs.google.com/spreadsheets/d/1iIcbW8nM0CjTTCfvDA2E0UgGJoq_LvEFt0r4ICA4GEg/export?format=csv"
test_df = pd.read_csv(sheet_test_url)

sheet_train_url = "https://docs.google.com/spreadsheets/d/1EVO5I_WMQZp6c41ZBSmGIDzsBr0HZ_-jmYOEwYCZrG8/export?format=csv"
train_df = pd.read_csv(sheet_train_url)

# Quick look at the data
print("Train Data:")
print(train_df.head())
print("\nTest Data:")
print(test_df.head())

Train Data:
   S.No        Timestamp  Age  Gender         Country state self_employed  \
0     1  8/27/2014 11:29   37  Female   United States    IL           NaN
1     2  8/27/2014 11:29   44       M   United States    IN           NaN
2     3  8/27/2014 11:29   32    Male          Canada   NaN           NaN
3     4  8/27/2014 11:29   31    Male  United Kingdom   NaN           NaN
4     5  8/27/2014 11:30   31    Male   United States    TX           NaN

  family_history treatment work_interfere  ...               leave  \
0             No       Yes          Often  ...       Somewhat easy
1             No        No         Rarely  ...          Don't know
2             No        No         Rarely  ...  Somewhat difficult
3            Yes       Yes          Often  ...  Somewhat difficult
4             No        No          Never  ...          Don't know

  mental_health_consequence phys_health_consequence     coworkers supervisor  \
0                        No                      No  Some of them        Yes
1                     Maybe                      No            No         No
2                        No                      No           Yes        Yes
3                       Yes                     Yes  Some of them         No
4                        No                      No  Some of them        Yes

  mental_health_interview phys_health_interview mental_vs_physical  \
0                      No                 Maybe                Yes
1                      No                    No         Don't know
2                     Yes                   Yes                 No
3                   Maybe                 Maybe                 No
4                     Yes                   Yes         Don't know

  obs_consequence comments
0              No      NaN
1              No      NaN
2              No      NaN
3             Yes      NaN
4              No      NaN

[5 rows x 28 columns]

Test Data:
   S.No        Timestamp  Age  Gender         Country state self_employed  \
0     1  8/29/2014 11:32   39    Male  United Kingdom   NaN           Yes
1     2  8/29/2014 11:32   26  female   United States    WA            No
2     3  8/29/2014 11:33   23  Female   United States    IL            No
3     4  8/29/2014 11:34   35    Male     Switzerland   NaN            No
4     5  8/29/2014 11:36   36    Male   United States    FL            No

  family_history work_interfere    no_employees  ...               leave  \
0            Yes      Sometimes           5-Jan  ...  Somewhat difficult
1            Yes      Sometimes  More than 1000  ...          Don't know
2            Yes      Sometimes          26-100  ...  Somewhat difficult
3            Yes          Often  More than 1000  ...           Very easy
4             No          Never           5-Jan  ...           Very easy

  mental_health_consequence phys_health_consequence     coworkers  \
0                        No                      No           Yes
1                        No                      No  Some of them
2                       Yes                      No            No
3                        No                      No  Some of them
4                        No                      No  Some of them

     supervisor mental_health_interview phys_health_interview  \
0           Yes                      No                 Maybe
1           Yes                      No                 Maybe
2  Some of them                      No                 Maybe
3  Some of them                      No                 Maybe
4  Some of them                      No                    No

  mental_vs_physical obs_consequence  \
0                Yes             Yes
1                 No             Yes
2                 No              No
3                 No              No
4         Don't know              No

                                            comments
0  These result may be a tad confusing so a summa...
1  I should note one of the places my employer fa...
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 27 columns]

In [40]:
# Save test identifiers for submission later
test_df = test_df.reset_index(drop=True)
if 'S.No' in test_df.columns:
    test_ids = test_df['S.No']
else:
    test_ids = pd.Series(np.arange(1, len(test_df) + 1))

### Step 3: Data Preprocessing

In [41]:
# Define columns to drop
cols_to_drop = ['Timestamp', 'comments']

# Drop columns from train dataset if they exist
dropped_train_cols = [col for col in cols_to_drop if col in train_df.columns]
if dropped_train_cols:
    train_df.drop(columns=dropped_train_cols, inplace=True)
    print("Dropped from train:", dropped_train_cols)

# Drop columns from test dataset if they exist
dropped_test_cols = [col for col in cols_to_drop if col in test_df.columns]
if dropped_test_cols:
    test_df.drop(columns=dropped_test_cols, inplace=True)
    print("Dropped from test:", dropped_test_cols)

Dropped from train: ['Timestamp', 'comments']
Dropped from test: ['Timestamp', 'comments']

In [42]:
train_df.head()

,S.No,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,1,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,3,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,4,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,5,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [43]:
test_df.head()

,S.No,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,1,39,Male,United Kingdom,NaN,Yes,Yes,Sometimes,5-Jan,Yes,...,Yes,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes
1,2,26,female,United States,WA,No,Yes,Sometimes,More than 1000,No,...,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes
2,3,23,Female,United States,IL,No,Yes,Sometimes,26-100,No,...,Don't know,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No
3,4,35,Male,Switzerland,NaN,No,Yes,Often,More than 1000,No,...,Yes,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No
4,5,36,Male,United States,FL,No,No,Never,5-Jan,Yes,...,Don't know,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No

In [44]:
# Function to check null values
def check_null_values(df, df_name):
    print(f"\n------------------ Checking Null Values in {df_name} ------------------")
    null_counts = df.isnull().sum()
    print(null_counts[null_counts > 0] if null_counts.sum() > 0 else "No missing values found.")

# Function to display dataset information
def display_info(df, df_name):
    print(f"\n------------------ Dataset Information: {df_name} ------------------")
    print(df.info())

# Function to display summary statistics
def display_statistics(df, df_name):
    print(f"\n------------------ Summary Statistics: {df_name} ------------------")
    print(df.describe())

# Perform checks for train and test datasets
check_null_values(train_df, "Train Dataset")
check_null_values(test_df, "Test Dataset")

display_info(train_df, "Train Dataset")
display_info(test_df, "Test Dataset")

display_statistics(train_df, "Train Dataset")
display_statistics(test_df, "Test Dataset")

------------------ Checking Null Values in Train Dataset ------------------
state               412
self_employed        18
work_interfere      236
benefits             13
wellness_program      4
leave                 4
dtype: int64

------------------ Checking Null Values in Test Dataset ------------------
state               103
work_interfere       28
benefits              3
wellness_program      2
leave                 5
dtype: int64

------------------ Dataset Information: Train Dataset ------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       1048 non-null   int64
 1   Age                        1048 non-null   int64
 2   Gender                     1048 non-null   object
 3   Country                    1048 non-null   object
 4   state                      636 non-null    object
 5   self_employed              1030 non-null   object
 6   family_history             1048 non-null   object
 7   treatment                  1048 non-null   object
 8   work_interfere             812 non-null    object
 9   no_employees               1048 non-null   object
 10  remote_work                1048 non-null   object
 11  tech_company               1048 non-null   object
 12  benefits                   1035 non-null   object
 13  care_options               1048 non-null   object
 14  wellness_program           1044 non-null   object
 15  seek_help                  1048 non-null   object
 16  anonymity                  1048 non-null   object
 17  leave                      1044 non-null   object
 18  mental_health_consequence  1048 non-null   object
 19  phys_health_consequence    1048 non-null   object
 20  coworkers                  1048 non-null   object
 21  supervisor                 1048 non-null   object
 22  mental_health_interview    1048 non-null   object
 23  phys_health_interview      1048 non-null   object
 24  mental_vs_physical         1048 non-null   object
 25  obs_consequence            1048 non-null   object
dtypes: int64(2), object(24)
memory usage: 213.0+ KB
None

------------------ Dataset Information: Test Dataset ------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       210 non-null    int64
 1   Age                        210 non-null    int64
 2   Gender                     210 non-null    object
 3   Country                    210 non-null    object
 4   state                      107 non-null    object
 5   self_employed              210 non-null    object
 6   family_history             210 non-null    object
 7   work_interfere             182 non-null    object
 8   no_employees               210 non-null    object
 9   remote_work                210 non-null    object
 10  tech_company               210 non-null    object
 11  benefits                   207 non-null    object
 12  care_options               210 non-null    object
 13  wellness_program           208 non-null    object
 14  seek_help                  210 non-null    object
 15  anonymity                  210 non-null    object
 16  leave                      205 non-null    object
 17  mental_health_consequence  210 non-null    object
 18  phys_health_consequence    210 non-null    object
 19  coworkers                  210 non-null    object
 20  supervisor                 210 non-null    object
 21  mental_health_interview    210 non-null    object
 22  phys_health_interview      210 non-null    object
 23  mental_vs_physical         210 non-null    object
 24  obs_consequence            210 non-null    object
dtypes: int64(2), object(23)
memory usage: 41.1+ KB
None

------------------ Summary Statistics: Train Dataset ------------------
              S.No           Age
count  1048.000000  1.048000e+03
mean    524.500000  9.541988e+07
std     302.675844  3.089010e+09
min       1.000000 -1.726000e+03
25%     262.750000  2.700000e+01
50%     524.500000  3.100000e+01
75%     786.250000  3.600000e+01
max    1048.000000  1.000000e+11

------------------ Summary Statistics: Test Dataset ------------------
             S.No         Age
count  210.000000  210.000000
mean   105.500000   32.547619
std     60.765944    8.061968
min      1.000000   -1.000000
25%     53.250000   27.000000
50%    105.500000   32.000000
75%    157.750000   37.750000
max    210.000000   72.000000

In [45]:
# check category level of all columns
def check_category_levels(df, df_name="Dataset"):
    print(f"\n{'='*20} {df_name} Category Levels {'='*20}\n")
    for col in df.columns:
        print(f"------ {col} ------")
        print(df[col].value_counts(dropna=False))  # Includes NaN values
        print("-" * 50)

# Checking category levels for both train and test datasets
check_category_levels(train_df, "Train Data")
check_category_levels(test_df, "Test Data")

==================== Train Data Category Levels ====================

------ S.No ------
S.No
1048    1
1       1
2       1
3       1
4       1
       ..
28      1
29      1
30      1
31      1
32      1
Name: count, Length: 1048, dtype: int64
--------------------------------------------------
------ Age ------
Age
 29             73
 32             64
 33             63
 26             63
 27             61
 31             57
 28             56
 30             56
 34             52
 35             49
 25             48
 23             41
 24             38
 37             36
 36             31
 38             30
 40             26
 39             26
 43             23
 22             20
 42             17
 41             15
 21             15
 19              9
 45              9
 44              8
 46              7
 18              7
 50              5
 48              5
 51              4
 49              4
 20              4
 56              3
 55              3
 57              3
 54              3
 47              2
 329             1
 60              1
-29              1
 99999999999     1
 62              1
 58              1
 65              1
-1726            1
 5               1
 53              1
 61              1
 8               1
Name: count, dtype: int64
--------------------------------------------------
------ Gender ------
Gender
Male                        519
male                        162
Female                      101
M                           100
female                       48
F                            33
m                            30
f                            13
Make                          4
Cis Male                      2
Woman                         2
Female (trans)                2
Man                           2
maile                         1
Male-ish                      1
Cis Female                    1
Trans-female                  1
Mal                           1
Male (CIS)                    1
non-binary                    1
Femake                        1
woman                         1
Nah                           1
All                           1
Enby                          1
queer/she/they                1
something kinda male?         1
Genderqueer                   1
fluid                         1
cis-female/femme              1
Androgyne                     1
Guy (-ish) ^_^                1
male leaning androgynous      1
Trans woman                   1
Agender                       1
msle                          1
Neuter                        1
queer                         1
Female (cis)                  1
Mail                          1
cis male                      1
A little about you            1
Malr                          1
Name: count, dtype: int64
--------------------------------------------------
------ Country ------
Country
United States             644
United Kingdom            153
Canada                     64
Germany                    37
Australia                  18
Netherlands                18
Ireland                    13
France                     11
India                       8
Switzerland                 6
Sweden                      6
New Zealand                 6
Italy                       6
Poland                      5
Brazil                      5
Belgium                     4
Israel                      4
South Africa                4
Austria                     3
Bulgaria                    3
Russia                      3
Mexico                      3
Portugal                    2
Finland                     2
Singapore                   2
Denmark                     2
Romania                     1
Latvia                      1
Colombia                    1
Slovenia                    1
Costa Rica                  1
Uruguay                     1
Spain                       1
Zimbabwe                    1
Hungary                     1
Bosnia and Herzegovina      1
Nigeria                     1
Japan                       1
Croatia                     1
Norway                      1
Thailand                    1
Bahamas, The                1
Name: count, dtype: int64
--------------------------------------------------
------ state ------
state
NaN    412
CA     123
WA      60
NY      49
TN      39
TX      38
PA      26
OR      26
OH      24
IL      21
MA      20
IN      20
MI      19
MN      17
GA      12
MO      12
VA      12
NC      10
WI      10
FL      10
CO       9
MD       7
AZ       7
UT       6
KY       5
OK       5
IA       4
CT       4
DC       4
SC       4
AL       4
SD       3
NV       3
KS       3
NH       3
NJ       3
NM       2
NE       2
WY       2
VT       2
WV       1
ID       1
MS       1
RI       1
LA       1
ME       1
Name: count, dtype: int64
--------------------------------------------------
------ self_employed ------
self_employed
No     906
Yes    124
NaN     18
Name: count, dtype: int64
--------------------------------------------------
------ family_history ------
family_history
No     643
Yes    405
Name: count, dtype: int64
--------------------------------------------------
------ treatment ------
treatment
No     536
Yes    512
Name: count, dtype: int64
--------------------------------------------------
------ work_interfere ------
work_interfere
Sometimes    386
NaN          236
Never        178
Rarely       144
Often        104
Name: count, dtype: int64
--------------------------------------------------
------ no_employees ------
no_employees
25-Jun            245
26-100            238
More than 1000    227
100-500           150
5-Jan             133
500-1000           55
Name: count, dtype: int64
--------------------------------------------------
------ remote_work ------
remote_work
No     733
Yes    315
Name: count, dtype: int64
--------------------------------------------------
------ tech_company ------
tech_company
Yes    870
No     178
Name: count, dtype: int64
--------------------------------------------------
------ benefits ------
benefits
Yes           400
Don't know    329
No            306
NaN            13
Name: count, dtype: int64
--------------------------------------------------
------ care_options ------
care_options
No          422
Yes         363
Not sure    263
Name: count, dtype: int64
--------------------------------------------------
------ wellness_program ------
wellness_program
No            692
Yes           193
Don't know    159
NaN             4
Name: count, dtype: int64
--------------------------------------------------
------ seek_help ------
seek_help
No            534
Don't know    309
Yes           205
Name: count, dtype: int64
--------------------------------------------------
------ anonymity ------
anonymity
Don't know    685
Yes           311
No             52
Name: count, dtype: int64
--------------------------------------------------
------ leave ------
leave
Don't know            462
Somewhat easy         218
Very easy             176
Somewhat difficult    107
Very difficult         81
NaN                     4
Name: count, dtype: int64
--------------------------------------------------
------ mental_health_consequence ------
mental_health_consequence
No       424
Maybe    380
Yes      244
Name: count, dtype: int64
--------------------------------------------------
------ phys_health_consequence ------
phys_health_consequence
No       773
Maybe    227
Yes       48
Name: count, dtype: int64
--------------------------------------------------
------ coworkers ------
coworkers
Some of them    651
No              209
Yes             188
Name: count, dtype: int64
--------------------------------------------------
------ supervisor ------
supervisor
Yes             439
No              320
Some of them    289
Name: count, dtype: int64
--------------------------------------------------
------ mental_health_interview ------
mental_health_interview
No       835
Maybe    177
Yes       36
Name: count, dtype: int64
--------------------------------------------------
------ phys_health_interview ------
phys_health_interview
Maybe    461
No       419
Yes      168
Name: count, dtype: int64
--------------------------------------------------
------ mental_vs_physical ------
mental_vs_physical
Don't know    471
Yes           297
No            280
Name: count, dtype: int64
--------------------------------------------------
------ obs_consequence ------
obs_consequence
No     902
Yes    146
Name: count, dtype: int64
--------------------------------------------------

==================== Test Data Category Levels ====================

------ S.No ------
S.No
210    1
1      1
195    1
196    1
197    1
      ..
6      1
7      1
8      1
9      1
10     1
Name: count, Length: 210, dtype: int64
--------------------------------------------------
------ Age ------
Age
 32    18
 34    13
 25    13
 29    12
 28    12
 26    12
 23    10
 31    10
 27    10
 38     9
 24     8
 39     7
 37     7
 40     7
 33     7
 30     7
 35     6
 36     6
 41     5
 46     5
 43     5
 42     3
 44     3
 45     3
 20     2
 48     1
 11     1
 50     1
-1      1
 21     1
 51     1
 72     1
 56     1
 60     1
 22     1
Name: count, dtype: int64
--------------------------------------------------
------ Gender ------
Gender
Male                                              98
male                                              44
Female                                            22
M                                                 16
female                                            14
F                                                  5
m                                                  4
f                                                  2
p                                                  1
Woman                                              1
femail                                             1
Cis Man                                            1
ostensibly male, unsure what that really means     1
Name: count, dtype: int64
--------------------------------------------------
------ Country ------
Country
United States     106
United Kingdom     32
Ireland            14
Netherlands         9
Germany             8
Canada              8
Australia           3
Greece              2
France              2
New Zealand         2
India               2
Belgium             2
South Africa        2
Poland              2
Singapore           2
Croatia             1
Switzerland         1
Israel              1
Sweden              1
Colombia            1
Moldova             1
Georgia             1
China               1
Bulgaria            1
Italy               1
Brazil              1
Czech Republic      1
Philippines         1
Finland             1
Name: count, dtype: int64
--------------------------------------------------
------ state ------
state
NaN    103
CA      15
WA      10
NY       8
IN       7
IL       7
TN       6
TX       6
OH       6
UT       5
FL       5
AL       4
MN       4
NC       4
NJ       3
OR       3
PA       3
MI       3
WI       2
VA       2
VT       1
SC       1
OK       1
MD       1
Name: count, dtype: int64
--------------------------------------------------
------ self_employed ------
self_employed
No     189
Yes     21
Name: count, dtype: int64
--------------------------------------------------
------ family_history ------
family_history
No     123
Yes     87
Name: count, dtype: int64
--------------------------------------------------
------ work_interfere ------
work_interfere
Sometimes    79
Often        39
Never        35
Rarely       29
NaN          28
Name: count, dtype: int64
--------------------------------------------------
------ no_employees ------
no_employees
More than 1000    55
26-100            51
25-Jun            45
5-Jan             28
100-500           26
500-1000           5
Name: count, dtype: int64
--------------------------------------------------
------ remote_work ------
remote_work
No     150
Yes     60
Name: count, dtype: int64
--------------------------------------------------
------ tech_company ------
tech_company
Yes    161
No      49
Name: count, dtype: int64
--------------------------------------------------
------ benefits ------
benefits
Yes           77
No            67
Don't know    63
NaN            3
Name: count, dtype: int64
--------------------------------------------------
------ care_options ------
care_options
Yes         80
No          79
Not sure    51
Name: count, dtype: int64
--------------------------------------------------
------ wellness_program ------
wellness_program
No            150
Yes            35
Don't know     23
NaN             2
Name: count, dtype: int64
--------------------------------------------------
------ seek_help ------
seek_help
No            112
Don't know     54
Yes            44
Name: count, dtype: int64
--------------------------------------------------
------ anonymity ------
anonymity
Don't know    134
Yes            63
No             13
Name: count, dtype: int64
--------------------------------------------------
------ leave ------
leave
Don't know            92
Somewhat easy         48
Very easy             30
Somewhat difficult    19
Very difficult        16
NaN                    5
Name: count, dtype: int64
--------------------------------------------------
------ mental_health_consequence ------
mental_health_consequence
Maybe    97
No       65
Yes      48
Name: count, dtype: int64
--------------------------------------------------
------ phys_health_consequence ------
phys_health_consequence
No       151
Maybe     46
Yes       13
Name: count, dtype: int64
--------------------------------------------------
------ coworkers ------
coworkers
Some of them    122
No               51
Yes              37
Name: count, dtype: int64
--------------------------------------------------
------ supervisor ------
supervisor
Yes             77
No              73
Some of them    60
Name: count, dtype: int64
--------------------------------------------------
------ mental_health_interview ------
mental_health_interview
No       172
Maybe     30
Yes        8
Name: count, dtype: int64
--------------------------------------------------
------ phys_health_interview ------
phys_health_interview
Maybe    96
No       80
Yes      34
Name: count, dtype: int64
--------------------------------------------------
------ mental_vs_physical ------
mental_vs_physical
Don't know    105
No             60
Yes            45
Name: count, dtype: int64
--------------------------------------------------
------ obs_consequence ------
obs_consequence
No     173
Yes     37
Name: count, dtype: int64
--------------------------------------------------

In [46]:
# Step 1: Find the median of valid ages
valid_age_median = train_df[(train_df['Age'] >= 18) & (train_df['Age'] <= 65)]['Age'].median()

# Step 2: Replace invalid ages with the median
train_df['Age'] = train_df['Age'].apply(lambda x: valid_age_median if (x < 18 or x > 65) else x)

# Step 3: Check if the dataset is clean
print(train_df['Age'].describe())

count    1048.000000
mean       31.916031
std         7.195364
min        18.000000
25%        27.000000
50%        31.000000
75%        36.000000
max        65.000000
Name: Age, dtype: float64

In [47]:
# Map target variable 'treatment': Yes -> 1, No -> 0
if 'treatment' in train_df.columns:
    train_df['treatment'] = train_df['treatment'].map({'Yes': 1, 'No': 0})
    print("Target variable mapped successfully.")

Target variable mapped successfully.

In [48]:
# Drop identifier column ('S.No') if present
identifier_col = 'S.No'
if identifier_col in train_df.columns:
    train_df.drop(columns=[identifier_col], inplace=True)
    print(f"Dropped identifier column: {identifier_col}")

Dropped identifier column: S.No

In [49]:
# Fill missing values in categorical columns with the mode
def fill_missing_with_mode(df):
    categorical_cols = df.select_dtypes(include=['object']).columns
    for col in categorical_cols:
        df[col].fillna(df[col].mode()[0], inplace=True)
    return categorical_cols

train_categorical_cols = fill_missing_with_mode(train_df)
test_categorical_cols = fill_missing_with_mode(test_df)
print(f"Filled missing values in categorical columns: {set(train_categorical_cols) | set(test_categorical_cols)}")

Filled missing values in categorical columns: {'phys_health_consequence', 'state', 'care_options', 'self_employed', 'coworkers', 'tech_company', 'benefits', 'phys_health_interview', 'no_employees', 'mental_health_interview', 'mental_health_consequence', 'family_history', 'seek_help', 'supervisor', 'wellness_program', 'Gender', 'anonymity', 'Country', 'work_interfere', 'leave', 'mental_vs_physical', 'remote_work', 'obs_consequence'}

In [50]:
# Convert categorical columns to string type
def convert_to_string(df):
    categorical_cols = df.select_dtypes(include=['object']).columns
    df[categorical_cols] = df[categorical_cols].astype(str)

convert_to_string(train_df)
convert_to_string(test_df)
print("Converted all categorical columns to string type.")

Converted all categorical columns to string type.

### Step 4: Encoding Categorical Variables

In [51]:
from sklearn.preprocessing import LabelEncoder

def encode_categorical_columns(train_df, test_df, target='treatment'):
    """
    Encode categorical columns in both training and test DataFrames using LabelEncoder.
    Unseen categories in the test set are replaced with the most frequent category from training.

    Parameters:
        train_df (pd.DataFrame): Training dataset.
        test_df (pd.DataFrame): Test dataset.
        target (str): Target column to exclude from encoding (default is 'treatment').

    Returns:
        tuple: Updated train_df, test_df, and a dictionary of fitted LabelEncoders for each column.
    """
    label_encoders = {}
    # Identify categorical columns, excluding the target variable
    categorical_cols = [col for col in train_df.select_dtypes(include='object').columns if col != target]

    for col in categorical_cols:
        le = LabelEncoder()
        # Get the most frequent (mode) category from the training data before encoding
        common_cat = train_df[col].mode()[0]
        # Fit and transform the training column
        train_df[col] = le.fit_transform(train_df[col])
        label_encoders[col] = le

        # For the test set, replace unseen categories with the mode from training
        test_df[col] = test_df[col].apply(lambda x: x if x in le.classes_ else common_cat)
        test_df[col] = le.transform(test_df[col])

    print("Encoded categorical columns:", categorical_cols)
    return train_df, test_df, label_encoders

# # Example usage:
# train_df, test_df, label_encoders = encode_categorical_columns(train_df, test_df)

In [52]:
train_df, test_df, label_encoders = encode_categorical_columns(train_df, test_df)

Encoded categorical columns: ['Gender', 'Country', 'state', 'self_employed', 'family_history', 'work_interfere', 'no_employees', 'remote_work', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave', 'mental_health_consequence', 'phys_health_consequence', 'coworkers', 'supervisor', 'mental_health_interview', 'phys_health_interview', 'mental_vs_physical', 'obs_consequence']

### Step 5: Spliting Data

In [53]:
from sklearn.model_selection import train_test_split

# Separate features (X) and target (y)
X = train_df.drop(columns=['treatment']) # Assign train_df without 'treatment' column to X
y = train_df['treatment']  # Assign 'treatment' column to y


# For test dataset: Drop identifier 'S.No' if it exists and align columns with training features
identifier = 'S.No'
if identifier in test_df.columns:
    X_test = test_df.drop(columns=[identifier])
else:
    X_test = test_df.copy()

# Ensure X_test has the same columns and order as X
X_test = X_test[X.columns]

print(f"Training features shape: {X.shape} | Test features shape: {X_test.shape}")

# Split training data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Train/Validation split completed.")
print(f"X_train shape: {X_train.shape} | X_val shape: {X_val.shape}")

Training features shape: (1048, 24) | Test features shape: (210, 24)
Train/Validation split completed.
X_train shape: (838, 24) | X_val shape: (210, 24)

In [54]:
# Identify categorical features (all object-type columns)
cat_features = X.select_dtypes(include=['object']).columns.tolist() # Now X is defined
print("Categorical features:", cat_features)

Categorical features: []

### Step 6: Feature Scalling

In [55]:
# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform it
X_train_scaled = scaler.fit_transform(X_train)
print("Training data scaled using StandardScaler.")
print(f"Training data mean: {scaler.mean_}")
print(f"Training data standard deviation: {scaler.scale_}")

# Transform the validation and test data using the same scaler parameters
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)
print("Validation and test data scaled using the training data parameters.")

Training data scaled using StandardScaler.
Training data mean: [32.11575179 20.4176611  32.97732697 13.95942721  0.12649165  0.38186158
  2.150358    2.36038186  0.31145585  0.82458234  1.075179    0.96420048
  1.03579952  0.90214797  0.66109785  1.44033413  0.849642    0.83651551
  0.98806683  1.12887828  0.87231504  0.72195704  0.82458234  0.14081146]
Training data standard deviation: [ 7.29024687  8.73187305 11.50347925 14.65272709  0.33240263  0.48584289
  1.16176913  1.71792622  0.46308866  0.38032395  0.84493699  0.8607914
  0.58718008  0.69603045  0.91640563  1.52407752  0.75766166  0.47941221
  0.60613477  0.83771563  0.4333057   0.72313953  0.84136326  0.34782695]
Validation and test data scaled using the training data parameters.

In [56]:

print(y_train.isna().sum())  # Should print 0
print(np.isnan(X_train_scaled).sum().sum())  # Should print 0

0
0

In [57]:
print(y_train.unique())  # Should show only valid classes (e.g., [0,1] for binary classification)

[1 0]

### Step 7: Train and Evaluate Models

In [58]:
# Note: CatBoost can directly handle categorical features by passing their column names.
train_pool = Pool(data=X_train, label=y_train, cat_features=cat_features)
val_pool = Pool(data=X_val, label=y_val, cat_features=cat_features)

In [59]:
cat_model = CatBoostClassifier(
    iterations=300,
    learning_rate=0.05,
    depth=6,
    random_seed=42,
    verbose=100,
    early_stopping_rounds=20
)
cat_model.fit(train_pool, eval_set=val_pool)
print("CatBoost training completed.")

0:	learn: 0.6736128	test: 0.6783110	best: 0.6783110 (0)	total: 1.08ms	remaining: 325ms
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.5657773403
bestIteration = 44

Shrink model to first 45 iterations.
CatBoost training completed.

In [60]:
# # Check for NaNs in y_val and fill them with the mode
# if y_val.isna().any():
#     # If y_val.mode() is empty, fill with a default value (e.g., 0)
#     fill_value = y_val.mode().iloc[0] if not y_val.mode().empty else 0
#     y_val = y_val.fillna(fill_value)
#     print(f"Filled {y_val.isna().sum()} NaN values in y_val with {fill_value}")
y_val_pred = cat_model.predict(val_pool)
acc = accuracy_score(y_val, y_val_pred)
f1 = f1_score(y_val, y_val_pred)
print("---------Validation Accuracy------------")
print(acc)
print("---------Validation F1 Score------------")
print(f1)
print("---------Classification Report------------")
print(classification_report(y_val, y_val_pred))
print("---------Confusion Matrix------------")
print(confusion_matrix(y_val, y_val_pred))

---------Validation Accuracy------------
0.7333333333333333
---------Validation F1 Score------------
0.7333333333333333
---------Classification Report------------
              precision    recall  f1-score   support

           0       0.76      0.71      0.73       109
           1       0.71      0.76      0.73       101

    accuracy                           0.73       210
   macro avg       0.73      0.73      0.73       210
weighted avg       0.74      0.73      0.73       210

---------Confusion Matrix------------
[[77 32]
 [24 77]]

### Step 9: Generating Submission File

In [61]:
test_pool = Pool(data=X_test, cat_features=cat_features)
test_preds = cat_model.predict(test_pool)

submission = pd.DataFrame({'S.No': test_ids, 'treatment': test_preds})
# Map numeric predictions back to "Yes" and "No"
submission['treatment'] = submission['treatment'].apply(lambda x: 'Yes' if x == 1 else 'No')
submission_file_path = "/content/drive/MyDrive/My Practice/Hackehon/submission.csv"
submission.to_csv(submission_file_path, index=False)
print("Submission file saved to", submission_file_path)

Submission file saved to /content/drive/MyDrive/My Practice/Hackehon/submission.csv

### Step 10: Save Model and Scaler

In [ ]:
joblib.dump(cat_model, "catboost_model.pkl")
print("CatBoost model saved.")

MLP model saved to employee_treatment_mlp_model.pkl
Scaler saved to scaler_mlp.pkl
Both MLP model and scaler have been saved successfully.

In [32]:
print("Length of test_ids:", len(test_ids))
print("Length of test_preds:", len(test_preds))

Length of test_ids: 210
Length of test_preds: 210